.capture {
    &-section {
        background: url("../img/ledy.jpg") no-repeat center top;
        background-size: cover;
        padding-top: 0;
        padding-bottom: 5.8em;
    }
    &-form-wrapper {
        max-width: 245px;
        padding-top: 4em;
        margin-bottom: 4em;
    }
    &-title {
        @media all and (min-width: $screen-lg-min) {
            font-size: 4.8em;
        }
        &-sub {
            @media all and (min-width: $screen-lg-min) {
                font-size: 4em;
            }
        }
    }
}
