.portfolio {
    &-section {
        background-color: #e2e2e2;
        padding-top: 1em;
    }
    &-body {
        padding-top: 3px
    }
    &-block {
        display: block;
        margin-bottom: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: $gray-lighter;
    }
}
