.services {
    &-section {
        //padding-top: 1em;
    }
    &-block {
        max-width: 340px;
        margin: 2em auto 2.3em;
    }
    &-title {
        margin-top: .7rem;
        margin-bottom: .4rem;
    }
    &-text {
        min-height: 7em;
        @media all and (max-width: $screen-lg) and (min-width: $screen-sm)  {
            min-height: 8.5em;
        }
        @media all and (max-width: $screen-sm) {
            min-height: 6em;
        }
    }
    &-img {
        background-position: center;
        background-size: cover;
        &-warm {
             background-image: url("../img/services/services-1.jpg");
         }
        &-germ {
            background-image: url("../img/services/services-2.jpg");
        }
        &-water{
            background-image: url("../img/services/services-3.jpg");
        }
        &-polish{
            background-image: url("../img/services/services-4.jpg");
        }
        &-paint {
            background-image: url("../img/services/services-5.jpg");
        }
        &-other {
            background-image: url("../img/services/services-6.jpg");
        }
    }
}
