.about {
    &-block {
        font-size: 1.2em;
        font-weight: 700;
        background: url("../img/about-bg.jpg") center no-repeat;
        background-size: cover;
        padding: 1.7em 1.7em 1.3em;
        color: #131313;
        &-title {
            padding-left: 10px;
            margin-bottom: 15px;
        }
    }
    &-list {
        max-width: 350px;
        padding-left: 10px;
        line-height: 1.2;
        li {
            margin-bottom: 5px;
        }
        li:before {
            content:  "-";
            position: relative;
            left:     -5px;
        }
    }
}
