.profit {
    &-title {
        margin-bottom: 0;
        &-sub {
            margin-top: 0;
        }
    }
    &-block {
        display: flex;
        align-items: center;
        max-width: 330px;
        @media all and (max-width: $screen-sm) {
            margin: 1em auto 0;
        }
        img {
            //max-width: 25%;
            @media all and (max-width: $screen-sm) {
                max-width: 20%;
            }
        }
        h4, p {
            margin: 0;
        }
        p {
            line-height: 1;
        }
    }

    &-icon {
        &-doc {
            margin-bottom: 10px;
            margin-right: 10px;
        }
        &-skill, &-credit {
            margin-right: 10px;
        }
    }
}
