.schema {
    &-body {
        padding-top: 1.8em;
        padding-bottom: 1.8em;
    }
    &-block {
        max-width: 215px;
        margin: 0 auto 1em;
    }
    &-img {
        margin-bottom: 1em;
    }
}
