.footer {
    background: url("../img/footer-bg_hires.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding: 15em 0 22em;
    &-title {
        margin: 0;
        line-height: 1em;
        @media all and (min-width: $screen-md-min) {
            font-size: 6em;
        }
        @media all and (max-width: $screen-md-min) {
            text-align: center;
        }
    }
    &-form {
        &-wrapper {
            margin-top: 1em;
            max-width: 250px;
            margin-left: 2em;
            @media all and (max-width: $screen-sm) {
                margin: 1em auto;
            }
        }
    }
}
