.header {
    @media all and (min-width: $grid-float-breakpoint) {
        padding-top: 22px;
    }
    background: url("../img/bg-header.jpg") center no-repeat;
    background-size: cover;
    margin-bottom: 1em;
    margin-top: -2px;
}

.navbar-brand {
    img {
        position: relative;
        top: -110px;
    }
}

.header-form-wrapper {
    max-width: 295px;
    padding: 2.5em;
    margin: 0 auto;
    border-radius: .8em;
    @include filter-gradient(#00aeef, #00506d, vertical);
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(top, rgba(0, 174, 239, 0.99) 0%, rgba(0, 174, 239, 1) 1%, rgba(0, 173, 239, 1) 8%, rgba(0, 162, 223, 1) 22%, rgba(0, 144, 198, 1) 36%, rgba(0, 108, 148, 1) 61%, rgba(0, 89, 122, 1) 77%, rgba(0, 80, 109, 1) 89%, rgba(0, 80, 109, 1) 100%));

}

.large3 {
    font-size: 2em;
}

.header-form-subtitle {
    font-size: 1.5em;
    line-height: 1;
}

.header-form-title {
    padding-bottom: 5px;
}

.clock-title {
    margin-top: 10px;
}

.header-form-manifest {
    background: white;
    color: #d24f15;
    padding: 5px 5px;
    text-align: center;
    margin-top: 1em;
    border-radius: 3px;
    li:nth-child(2) {
        font-weight: bold;
        font-size: 16px;
    }
    li:nth-child(1) {
        font-size: 1.1em;
    }
}

.main-title {
    span {
        display: block;
    }
    margin: 1em 0 0 0;
    line-height: 1;
    &-sub {
        font-size: 2em;
        font-weight: 800;
        margin-top: 0;
    }
}

.header-list {
    font-size: 1.4em;
    padding-left: 3em;
    font-weight: 600;
    li {
        line-height: 1.22;
        padding: .25em 0;
        position: relative;
    }
}

.h-image {
    display: block;
    position: absolute;
    width: 2em;
    height: 2em;
    top: .4em;
    left: -3em;
    &__check {
        background: url("../img/icons/header-icon-check.png") no-repeat center;
        background-size: cover;
    }
    &__disc {
        background: url("../img/icons/header-icon-discount.png") no-repeat center;
        background-size: cover;
    }
    &__warr {
        background: url("../img/icons/header-icon-warranty.png") no-repeat center;
        background-size: cover;
    }
    &__work {
        background: url("../img/icons/header-icon-worker.png") no-repeat center;
        background-size: cover;
    }
}

.nav {
    .anchor {
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 10px;
            @media all and (max-width: $grid-float-breakpoint) {
                display: none;
            }
        }
        span {
            font-size: 1.2em;
            font-weight: 600;
            border-bottom: 1px dashed $text-color;
        }
    }
    li:nth-child(1) {
        img {
            margin-bottom: 12px;
        }
    }
    li:nth-child(2) {
        img {
            margin-bottom: 11px;
        }
    }
    li:nth-child(4) {
        img {
            margin-bottom: 13px;
        }
    }
}

.nav-contacts {
    margin-top: 6px;
    li:nth-child(1),
    li:nth-child(2) {
        font-size: 1.5em;
        font-weight: 600;
    }
    &-btn {
        border-radius: 6px;
        color: white;
        background: $color-header-2;
        padding: 0 5px;
        font-size: 1.25em;
        &:hover,
        &:focus,
        &:active {
            color: $gray-lighter;
        }
    }
}

.clock {
    margin-left: -2.5em;
    margin-right: -2.5em;
}

.count {
    &-block {
        min-height: 152px;
        background: rgba(255, 255, 255, .6);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media all and (max-width: $screen-xs-min)  {
            flex-wrap: wrap;
        }
        @media all and (max-width: $grid-float-breakpoint) {
            padding-top: 2em;
        }
        .number {
            font-size: 30px;
            @media all and (min-width: $grid-float-breakpoint) {
                font-size: 75px;
            }
            @media all and (max-width: $grid-float-breakpoint) and (min-width: $screen-xs) {
                font-size: 45px;
            }
        }
    }
    &-unit {
        width: 25%;
        @media all and (max-width: $screen-xs)  {
            width: 50%;
        }
        text-align: center;
    }
}
