/*
@font-face {
    font-family: 'Ionicons';
    src: url("../fonts/ionicons.eot?v=2.0.0");
    src: url("../fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"),
    url("../fonts/ionicons.ttf?v=2.0.0") format("truetype"),
    url("../fonts/ionicons.woff?v=2.0.0") format("woff"),
    url("../fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
    font-weight: normal;
    font-style: normal;
}


*/

.i-icons {
    position: relative;
    display: inline-block;
    &::before {
        font-family: 'Ionicons';
    }
    &.airplane::before {
        content: '\f2c3';

    }
    &.person::before {
        content: '\f213';

    }
    &.telephone::before {
        content: '\f4b9';

    }
    &.text::before {
        content: '\f11d';

    }
    &.mail::before {
        content: '\f2eb';
    }
    &.arrow-thin-right::before {
        content: '\f3d6';
    }
    &.ion-chevron-down::before {
        content: '\f123';
    }
    &.ion-chevron-up::before {
        content: '\f126';
    }
}
