/*
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;

    .owl-stage {
        position: relative;
        -ms-touch-action: pan-Y;
    }

    .owl-stage:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    .owl-stage-outer {
        position: relative;
        overflow: hidden;
        /* fix for flashing background */
        -webkit-transform: translate3d(0px, 0px, 0px);
    }

    .owl-item {
        position: relative;
        min-height: 1px;
        float: left;
        -webkit-backface-visibility: hidden;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
    }
    .owl-item img {
        display: block;
        width: 100%;
        -webkit-transform-style: preserve-3d;
    }

    .owl-nav.disabled,
    .owl-dots.disabled {
        display: none;
    }

    .owl-nav .owl-prev,
    .owl-nav .owl-next,
    .owl-dot {
        cursor: hand;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &.owl-loaded {
        display: block;
    }

    &.owl-loading {
        opacity: 0;
        display: block;
    }

    &.owl-hidden {
        opacity: 0;
    }

    &.owl-refresh .owl-item {
        display: none;
    }

    &.owl-drag .owl-item {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &.owl-grab {
        cursor: move;
        cursor: -webkit-grab;
        cursor: grab;
    }

    &.owl-rtl {
        direction: rtl;
    }

    &.owl-rtl .owl-item {
        float: right;
    }
}

/* No Js */
.no-js .owl-carousel {
    display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel {
    .animated {
        -webkit-animation-duration: 1000ms;
        animation-duration: 1000ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    .owl-animated-in {
        z-index: 0;
    }
    .owl-animated-out {
        z-index: 1;
    }
    .fadeOut {
        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */

$color-base: #869791;
$color-white: #FFF;
$color-gray: #D6D6D6;

//nav

$nav-color: $color-white;
$nav-color-hover: $color-white;
$nav-font-size: 14px;
$nav-rounded: 3px;
$nav-margin: 5px;
$nav-padding: 4px 7px;
$nav-background: $color-gray;
$nav-background-hover: $color-base;
$nav-disabled-opacity: 0.5;

//dots

$dot-width: 1.5em;
$dot-height: 1.5em;
$dot-rounded: 50%;
$dot-margin: 2em .8em .5em;
$dot-background: #016e97;
$dot-background-active: #8de0ff;

@mixin transition($prop, $time, $easing) {
    -webkit-transition: $prop $time $easing;
    -moz-transition: $prop $time $easing;
    -ms-transition: $prop $time $easing;
    -o-transition: $prop $time $easing;
    transition: $prop $time $easing;
}

@mixin rounded($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
}

@mixin transform($prop) {
    -webkit-transition: $prop;
    -moz-transition: $prop;
    -ms-transition: $prop;
    -o-transition: $prop;
    transition: $prop;
}

// Styling Next and Prev buttons
.owl-nav {

}

// Styling dots
.owl-nav.disabled + .owl-dots {
    margin-top: 10px;
}

.owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;

    .owl-dot {
        display: inline-block;
        zoom: 1;
        *display: inline;

        span {
            width: $dot-width;
            height: $dot-height;
            margin: $dot-margin;
            background: $dot-background;
            //box-shadow: inset 0 0 0 1px $dot-background-active;
            display: block;
            -webkit-backface-visibility: visible;
            @include transition(opacity, 200ms, ease);
            @include rounded($dot-rounded);
        }

        &.active,
        &:hover {
            span {
                background: $dot-background-active;
            }
        }
    }
}

.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    margin: -1em 0 0;
    .glyphicon {
        font-size: 2em;
        color: #555;
    }
}

.owl-prev{
    @extend .carousel-control;
    left: 0;
    width: 2em;
    @media all and (min-width: $screen-lg) {
        left: 0;
    }
}

.owl-next{
    @extend .carousel-control;
    right: 0;
    left: auto;
    width: 2em;
    @media all and (min-width: $screen-lg) {
         right: 0;
    }
}
.owl-carousel {
    margin: 1em auto 3em;
    padding: 0 3em;
}
