<div class="modal-body text-center">
    <!--<h2>callback.html</h2>-->
    <h2 class="color-white">Спасибо за оставленную заявку, мы свяжемся в Вами в ближайшее время</h2>
    <button class="btn btn-info" data-dismiss="modal" aria-label="Close">Закрыть окно</button>
</div>

