<!doctype html>
<html class="no-js" lang="ru-RU">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Пром Альп</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/favicons/manifest.json">
    <link rel="mask-icon" href="img/favicons/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>

    <!--{{CUT-START}}-->
    <link rel="stylesheet" href="css/styles.css">
    <!--{{CUT-END}}-->

    <link rel="stylesheet" href="css/{{MAIN_CSS_FILE}}">
    <link rel="stylesheet" href="css/animate.min.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>

</head>
<!— Google Tag Manager —>
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WXVGFM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WXVGFM');</script>
<!— End Google Tag Manager —>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<header class="header" id="home">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand relative" href="#home">
                    <img src="img/logo.png" alt="logo">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse thin">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="#services" class="anchor">
                            <img src="img/icons/menu-icon-services.png" alt="Services">
                            <span>Услуги</span>
                        </a>
                    </li>
                    <li>
                        <a href="#profit" class="anchor">
                            <img src="img/icons/menu-icon-advantage.png" alt="Advatage">
                            <span>Преимущества</span>
                        </a></li>
                    <li>
                        <a href="#schema" class="anchor">
                            <img src="img/icons/menu-icon-workplaine.png" alt="Workplane">
                            <span>Схема работы</span>
                        </a></li>
                    <li>
                        <a href="#about" class="anchor">
                            <img src="img/icons/menu-icon-aboute.png" alt="About">
                            <span>О нас</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right text-center">
                    <li>
                        <ul class="list-unstyled nav-contacts">
                            <li>093 087 65 61</li>
                            <li>067 701 10 77</li>
                            <li>
                                <button class="btn nav-contacts-btn start-modal" data-toggle="modal"
                                        data-target="#feedbackModal">
                                    Заказать звонок
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-7">
                <h1 class="main-title">
                    <span class="color-header-2">УТЕПЛЕНИЕ</span>
                    <span class="color-header-3">КВАРТИР И ДОМОВ</span>
                </h1>
                <h3 class="main-title-sub thin">В Запорожье и области</h3>
                <ul class="list-unstyled header-list thin">
                    <li><span class="h-image h-image__disc"></span>0%<br>выгодная рассрочка</li>
                    <li><span class="h-image h-image__warr"></span>Гарантия 5 лет <br> на утепление</li>
                    <li><span class="h-image h-image__work"></span>Специалисты<br>С опытом работы 10 лет</li>
                    <li><span class="h-image h-image__check"></span>Бесплатный замер<br>и консультация</li>
                </ul>
            </div>
            <div class="col-sm-5 col-md-4">
                <div class="header-form-wrapper">
                    <form class="order-form body-form" id="headForm">
                        <div class="header-form-title color-white">
                            <h4 class="thin  margin__no">Закажите просчет сейчас и получите скидку</h4>
                            <div class="text-center header-form-subtitle">до <span class="large3">20%</span>
                            </div>
                            <div class="text-center regular inline">
                                <small>*размер скидки зависит от объема
                                    заказа
                                </small>
                            </div>
                        </div>
                        <input type="hidden" name="head" value="Форма шапки">
                        <div class="input-block">
                            <input type="text" placeholder="Ваше имя?" class="width__100" name="name">
                        </div>
                        <div class="input-block">
                            <input type="tel" placeholder="Ваш телефон?" class="width__100" name="phone">
                        </div>
                        <input type="submit" value="Заказать просчёт" class="btn width__100 btn-send-form">
                        <p class="text-center color-white regular clock-title">До конца акции осталось</p>
                        <div class="clock">
                            <div id="top-clock"></div>
                        </div>
                        <div class="header-form-manifest">
                            <ul class="list-unstyled regular pulse animated infinite ">
                                <li>У нас действует программа</li>
                                <li>ЭНЕРГОЭФФЕКТИВНОСТИ</li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="count-block">
                    <div class="count-unit">
                        <div class="number lost-count s-monitor once-monitor color-header-1" data-speed="40"
                             data-value="1500">0
                        </div>
                        <p class="thin">Довольных клиентов</p>
                    </div>
                    <div class="count-unit">
                        <div class="number lost-count s-monitor once-monitor color-header-1" data-speed="1000"
                             data-value="87600">0
                        </div>
                        <p class="thin">кв. метров утепленных стен</p>
                    </div>
                    <div class="count-unit">
                        <div class="number lost-count s-monitor once-monitor color-header-1" data-speed="1"
                             data-value="10">0
                        </div>
                        <p class="thin">лет опыта работы</p>
                    </div>
                    <div class="count-unit">
                        <div class="number lost-count s-monitor once-monitor color-header-1" data-speed="1"
                             data-value="5">0
                        </div>
                        <p class="thin">лет гарантии на наши услуги</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center section-title" id="services">НАШИ УСЛУГИ</h2>
</header>
<!--block-2-->
<div class="services-section">
    <div class="services-body container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="services-block">
                    <div class="embed-responsive embed-responsive-4by3 services-img services-img-warm">
                        <div class="embed-responsive-item"></div>
                    </div>
                    <h3 class="text-uppercase color-header-1 services-title">наружное утепление стен</h3>
                    <p class="services-text thin">
                        Утепление пенопластом снаружи —
                        надежный способ сделать жилье менее
                        уязвимым к температуре, имеет эстетичный
                        внешний вид и имеет прекрасную
                        звукоизоляцию.
                    </p>
                    <button class="btn btn-info service-btn start-modal width__100" data-toggle="modal"
                            data-target="#feedbackModal">Заказать просчет
                    </button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="services-block">
                    <div class="embed-responsive  embed-responsive-4by3 services-img services-img-germ">
                        <div class="embed-responsive-item"></div>
                    </div>
                    <h3 class="text-uppercase color-header-1 services-title">герметизация швов</h3>
                    <p class="services-text thin">
                        Мы поможем быстро и эффективно сделать
                        герметизацию швов/стыков. Многолетний опыт
                        и разнообразный ассортимент
                        герметизирующих материалов, в том числе и
                        мастик на долгий срок решат эту проблему.
                    </p>
                    <button class="btn btn-info service-btn start-modal width__100" data-toggle="modal"
                            data-target="#feedbackModal">Заказать просчет
                    </button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="services-block">
                    <div class="embed-responsive  embed-responsive-4by3 services-img services-img-water">
                        <div class="embed-responsive-item"></div>
                    </div>
                    <h3 class="text-uppercase color-header-1 services-title">гидроизоляция фасадов</h3>
                    <p class="services-text thin">
                        Это важнейший этап создания комплексной
                        защиты от внешнего разрушающего
                        воздействия. Кроме того, здание после этого
                        становится значительно теплее, а жить в
                        нем - комфортнее.
                    </p>
                    <button class="btn btn-info service-btn start-modal width__100" data-toggle="modal"
                            data-target="#feedbackModal">Заказать просчет
                    </button>
                </div>
            </div>
            <!--            <div class="col-md-4  hidden-sm hidden-xs">
                            &lt;!&ndash;<div class="services-block">
                                <div class="embed-responsive  embed-responsive-4by3 services-img services-img-polish">
                                    <div class="embed-responsive-item"></div>
                                </div>
                                <h3 class="text-uppercase color-header-1 services-title">затирка кирпичных швов</h3>
                                <p class="services-text thin">
                                    Затирка швов внешних стен кирпичной
                                    кладки, преображает ваш дом, и он
                                    выглядит как единое целое, завершенный
                                    и совершенный. Этот этап делается в
                                    финале всех строительных работ.
                                </p>
                                <button class="btn btn-info service-btn start-modal width__100" data-toggle="modal"
                                        data-target="#feedbackModal">Заказать просчет</button>
                            </div>&ndash;&gt;
                        </div>-->
            <div class="col-md-4 col-sm-6 col-md-offset-2">
                <div class="services-block">
                    <div class="embed-responsive  embed-responsive-4by3 services-img services-img-paint">
                        <div class="embed-responsive-item"></div>
                    </div>
                    <h3 class="text-uppercase color-header-1 services-title">покраска фасада</h3>
                    <p class="services-text thin">
                        Покраска мокрого или сухого фасада –
                        наиболее легкий способ изменения внешнего
                        вида строения, позволяющий кардинально
                        изменить его дизайн и существенно
                        увеличить срок службы строения.
                    </p>
                    <button class="btn btn-info service-btn start-modal width__100" data-toggle="modal"
                            data-target="#feedbackModal">Заказать просчет
                    </button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="services-block">
                    <div class="embed-responsive  embed-responsive-4by3 services-img services-img-other">
                        <div class="embed-responsive-item"></div>
                    </div>
                    <h3 class="text-uppercase color-header-1 services-title">другие высотные работы</h3>
                    <p class="services-text thin">
                        Герметизация балконов, лоджий, балконных
                        козырьков, шумоизоляция балконов и
                        балконных козырьков, монтаж водостоков,
                        водосточных систем, монтаж рекламы,
                        антенн, кондиционеров, кабеля.
                    </p>
                    <button class="btn btn-info service-btn start-modal width__100" data-toggle="modal"
                            data-target="#feedbackModal">Заказать просчет
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--block-3-->
<section class="portfolio-section">
    <h2 class="text-center section-title">НАШИ РАБОТЫ</h2>
    <div class="portfolio-body container">
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/1.jpg" data-toggle="tooltip" title="ул. Академика Александрова"
                   data-title="ул. Академика Александрова" class="portfolio-block embed-responsive-16by9"
                   data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/3.jpg" data-toggle="tooltip" title="ул. Алма-Атинская, 12"
                   data-title="Алма-Атинская, 12" class="portfolio-block embed-responsive-16by9"
                   data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/4.jpg" data-toggle="tooltip" title="ул. Алма-Атинская, 12"
                   data-title="ул. Алма-Атинская, 12" class="portfolio-block embed-responsive-16by9"
                   data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/5.jpg" data-toggle="tooltip" title="ул. Бородинская, 20"
                   data-title="ул. Бородинская, 20" class="portfolio-block embed-responsive-16by9"
                   data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/6.jpg" data-toggle="tooltip" title="ул. Бородинская, 20"
                   data-title="ул. Бородинская, 20" class="portfolio-block embed-responsive-16by9"
                   data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/7.jpg" data-toggle="tooltip" title="ул. Буденого, 4" data-title="ул. Буденого, 4"
                   class="portfolio-block embed-responsive-16by9" data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/8.jpg" data-toggle="tooltip" title="ул. Буденого, 4" data-title="ул. Буденого, 4"
                   class="portfolio-block embed-responsive-16by9" data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/9.jpg" data-toggle="tooltip" title="ул. Буденого, 4" data-title="ул. Буденого, 4"
                   class="portfolio-block embed-responsive-16by9" data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/10.jpg" data-toggle="tooltip" title="ул. Гудыменко, 27"
                   data-title="ул. Гудыменко, 27" class="portfolio-block embed-responsive-16by9"
                   data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/11.jpg" data-toggle="tooltip" title="ул. Дорошенко, 6"
                   data-title="ул. Дорошенко, 6" class="portfolio-block embed-responsive-16by9" data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/12.jpg" data-toggle="tooltip" title="ул. Дорошенко, 8"
                   data-title="ул. Дорошенко, 6" class="portfolio-block embed-responsive-16by9" data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/13.jpg" data-toggle="tooltip" title="ул. Каховская, 26"
                   data-title="ул. Каховская, 26" class="portfolio-block embed-responsive-16by9"
                   data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/14.jpg" data-toggle="tooltip" title="ул. Криворожская, 33"
                   data-title="ул. Криворожская, 33" class="portfolio-block embed-responsive-16by9"
                   data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/15.jpg" data-toggle="tooltip" title="ул. Ладожская, 17"
                   data-title="ул. Ладожская, 17" class="portfolio-block embed-responsive-16by9"
                   data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/16.jpg" data-toggle="tooltip" title="ул. Лахтинская, 8"
                   data-title="ул. Лахтинская, 8" class="portfolio-block embed-responsive-16by9"
                   data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/17.jpg" data-toggle="tooltip" title="ул. Микояна, 22" data-title="ул. Микояна, 22"
                   class="portfolio-block embed-responsive-16by9" data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/18.jpg" data-toggle="tooltip" title="проспект Соборный, 152Б"
                   data-title="проспект Соборный, 152Б" class="portfolio-block embed-responsive-16by9"
                   data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/19.jpg" data-toggle="tooltip" title="проспект Соборный, 152Б"
                   data-title="проспект Соборный, 152Б" class="portfolio-block embed-responsive-16by9"
                   data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/20.jpg" data-toggle="tooltip" title="проспект Соборный, 152Б"
                   data-title="проспект Соборный, 152Б" class="portfolio-block embed-responsive-16by9"
                   data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/21.jpg" data-toggle="tooltip" title="ул. Рубана, 7" data-title="ул. Рубана, 7"
                   class="portfolio-block embed-responsive-16by9" data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/22.jpg" data-toggle="tooltip" title="ул. Рубана, 7" data-title="ул. Рубана, 7"
                   class="portfolio-block embed-responsive-16by9" data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/23.jpg" data-toggle="tooltip" title="ул. Рубана, 7" data-title="ул. Рубана, 7"
                   class="portfolio-block embed-responsive-16by9" data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="img/gallery/24.jpg" data-toggle="tooltip" title="ул. Рубана, 7" data-title="ул. Рубана, 7"
                   class="portfolio-block embed-responsive-16by9" data-lightbox="Gallery">
                    <div class="embed-responsive-item"></div>
                </a>
            </div>

        </div>
    </div>
</section>
<!--block-4-->
<section class="capture-section">
    <div class="container">
        <h2 class="capture-title">Заключите договор сейчас</h2>
        <h3 class="capture-title-sub">и Зафиксируйте цену!</h3>
        <div class="capture-form-wrapper">
            <form class="order-form body-form" id="bodyForm">
                <input type="hidden" name="head" value="Форма фиксации цены">
                <div class="input-block">
                    <input type="text" placeholder="Ваше имя?" class="width__100" name="name">
                </div>
                <div class="input-block">
                    <input type="tel" placeholder="Ваш телефон?" class="width__100" name="phone">
                </div>
                <input type="submit" value="Заказать просчёт" class="btn width__100 btn-send-form">
            </form>
        </div>
    </div>
</section>
<!--block-5-->
<section class="profit-section" id="profit">
    <h2 class="profit-title text-center">ВАШИ ПРЕИМУЩЕСТВА</h2>
    <h3 class="profit-title-sub text-center thin">при работе с нашей компанией</h3>
    <div class="profit-body container">
        <div class="row">
            <div class="col-sm-6">
                <div class="profit-block">
                    <img class="profit-icon-free" src="img/icons/profit-icon-1_1.png" alt="free">
                    <div>
                        <h4 class="profit-title color-header-1">БЕСПЛАТНЫЙ</h4>
                        <p class="thin">Замер и консультация</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="profit-block">
                    <img class="profit-icon-doc" src="img/icons/profit-icon-1_2.png" alt="docs">
                    <div>
                        <h4 class="profit-title color-header-1">ДОКУМЕНТАЦИЯ</h4>
                        <p class="thin">Разрешительная и проектная документация</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-lg-offset-3 col-md-offset-3">
                <div class="profit-block">
                    <img class="profit-icon-skill" src="img/icons/profit-icon-2_1.png" alt="skill">
                    <div>
                        <h4 class="profit-title color-header-1 text-uppercase">квалификация</h4>
                        <p class="thin">Наших специалистов на высшем уровне</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="profit-block">
                    <img class="profit-icon-credit" src="img/icons/profit-icon-2_2.png" alt="credit">
                    <div>
                        <h4 class="profit-title color-header-1 text-uppercase">рассрочка</h4>
                        <p class="thin">Утепление сейчас, <br> оплата потом</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-lg-offset-1 col-md-o">
                <div class="profit-block">
                    <img class="profit-icon-cash" src="img/icons/profit-icon-3_1.png" alt="cash">
                    <div>
                        <h4 class="profit-title color-header-1 text-uppercase">гибкая система оплат</h4>
                        <p class="thin">Наличный или <br> безналичный рассчет</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="profit-block">
                    <img class="profit-icon-offers" src="img/icons/profit-icon-3_2.png" alt="offers">
                    <div>
                        <h4 class="profit-title color-header-1 text-uppercase">акции</h4>
                        <p class="thin">Мы постоянно проводим акции для любимых клиентов</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/v-line.png" class="img-responsive block-centered" alt="line">
</section>
<!--block-6-->
<section class="about-section" id="about">
    <h2 class="about-title text-center">О НАС</h2>
    <div class="about-body container">
        <p class="thin">
            Здравствуйте!
            Мы, компания «ПромАльп», специализируемся на выполнении работ по наружному утеплению стен квартир, домов в
            городе
            Запорожье и Запорожской области.
        </p>
        <br>
        <p class="thin">
            Наша компания работает на рынке промышленного альпинизма и высотных услуг с 2006 года. За 10-летний период
            работы, наши
            специалисты-высотники зарекомендовали себя как настоящие профессионалы и мастера своего дела. Наши
            технологии не только отвечают
            современным требованиям высотных работ, но и прошли испытание временем.
        </p>
        <br>
        <p class="thin">
            Нас рекомендуют более 1500 заказчиков, которые доверили нам утепление своих домов и квартир (фасадов).
            Основной принцип нашей
            работы – контроль качества и соблюдение технологии утепления стен на каждом этапе выполнения работ. Мы не
            компания-однодневка,
            мы не ищем ежеминутной прибыли!
        </p>
        <br>
        <p class="thin">
            Для нас важна репутация на рынке и долгосрочное сотрудничество с нашими клиентами.
            Вас все еще мучают сомнения, заказывать или нет? Позвоните нам и наши специалисты ответят на все ваши
            вопросы, а при необходимости и
            устроят экскурсию на ближайшие к Вам объекты, и Вы сможете лично убедится в качественности выполненных нами
            работ.
        </p>
        <div class="about-block">
            <div class="regular about-block-title">Для ПРАВИЛЬНОГО УТЕПЛЕНИЯ необходимо:</div>
            <ul class="list-unstyled about-list thin">
                <li>Соблюдения технологии приклеивания</li>
                <li>Качественные материалы</li>
                <li>Соответствие нормативным расходам</li>
                <li>Полная герметизации системы</li>
                <li>Перевязка утеплителя</li>
                <li>Щелочестойкая сетка</li>
                <li>Атмосферостойкая краска</li>
                <li>Наличие отливов и козырька</li>
                <li>В Европе фасады, утеплённые пенопластом
                    стоят по 30 лет, а у нас за несколько лет
                    осыпаются. Не экномитьте при монтаже
                    утепления - экономьте постоянно зимой
                    на отоплении, а летом на кондиционировании.
                    Не нарушайте технологию!
                </li>
            </ul>
        </div>
    </div>
</section>
<!--ADD BANK-->
<section class="credit-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <img src="img/house.png" alt="img" class="img-responsive credit-img animated">
            </div>
            <div class="col-sm-8">
                <h2 class="text-center orange">КАК ОПЛАТИТЬ В КРЕДИТ?</h2>
                <h3 class="credit-subtitle text-center">Утепление стен участвуют в государственной программе энергосбережения "Теплый дом", по этой
                    программе</h3>
                <div class="text-center">
                    <div class="credit-flag">20% от стоимости работ оплачивает государство</div>
                </div>
                <div class="bank-logo">
                    <img src="img/bank.jpg" alt="img" class="img-responsive">
                </div>

                <div class="text-center">
                    <a href="javascript:void(0)" class="btn credit-btn btn-call-form  buy-now start-modal" data-toggle="modal"
                       data-target="#feedbackModal">Узнать больше</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--block-7-->
<section class="schema-section" id="schema">
    <h2 class="about-title text-center">схема нашей работы</h2>
    <div class="schema-body container">
        <div class="row">
            <div class="col-sm-3">
                <div class="schema-block">
                    <img src="img/icons/schema-1.png" class="img-responsive schema-img" alt="schema">
                    <p class="thin">
                        Вы звоните нам или
                        заказываете звонок
                        через сайт
                    </p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="schema-block">
                    <img src="img/icons/schema-2.png" class="img-responsive schema-img" alt="schema">
                    <p class="thin">
                        Наш специалист
                        консультирует Вас
                        по всем вопросам и
                        согласовывает время замера
                    </p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="schema-block">
                    <img src="img/icons/schema-3.png" class="img-responsive schema-img" alt="schema">
                    <p class="thin">
                        В оговоренное время
                        приезжает наш замерщик
                    </p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="schema-block">
                    <img src="img/icons/schema-4.png" class="img-responsive schema-img" alt="schema">
                    <p class="thin">
                        Заключаем договор и
                        начинаем работы
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--recommendation-->
<section class="recommendation-section">
    <h2 class="about-title text-center">нас рекомендуют</h2>
    <div class="recommendation-section-body container">
        <div class="owl-carousel" id="sliderTop">
            <div>
                <img src="img/carousel/1.jpg" alt="carousel">
                <p class="regular">Что мы только не делали, чтобы дома стало тепло. Во время капитального ремонта
                    поставили новые окна,
                    заделали щели, постелили толстый линолеум, но результат был так себе. Отапливают нас не очень
                    старательно, поэтому мы всегда использовали дополнительные обогреватели. А это недешево! Решили
                    проблему, только когда обратились в компанию Пром Альп, заказав наружное утепление пенопластом.</p>
            </div>
            <div>
                <img src="img/carousel/2.jpg" alt="carousel">

                <p class="regular">
                    С удовольствием оставляю отзыв! У меня угловая <strong>квартира</strong> в высотном доме. В холодную
                    погоду я всегда замерзал. Вынужден был включать электрообогреватели. Год назад заказал <strong>утепление
                    стен</strong>. Теперь живу в тепле.
                </p>
            </div>
            <div>
                <img src="img/carousel/3.jpg" alt="carousel">
                <p class="regular">
                    Наша семья уже три года не знает проблем ни в холодную, ни в жаркую погоду. В квартире всегда
                    приятная атмосфера. Зимой – тепло, а летом – прохладно. И все благодаря профессионализму работников
                    из Пром Альп! Мы очень довольны. А по прошествии трех лет уже точно убедились, что наружное
                    утепление стен – это совсем недорого.
                </p>
            </div>
            <div>
                <img src="img/carousel/4.jpg" alt="carousel">
                <p class="regular">
                    Спасибо Ребятам от Компании Пром Альп сделали мне утепление стен и балкона в Запорожье на 6 этаже, я
                    осталась очень довольна, рекомендую эту фирму, моя оценка 10 из 10
                </p>
            </div>
            <div>
                <img src="img/carousel/5.jpg" alt="carousel">
                <p class="regular">Спасибо за быстро выполненную работу и особенно за то что раньше поставили нас на
                    очередь, благодаря чему мы успели в отпуск, рекомендую эту фирму как порядочных и ответственных
                    людей. У нас цвели обои, надеемся что после утепления стен пенопластом проблема уйдет.
                </p>
            </div>
            <div>
                <img src="img/carousel/6.jpg" alt="carousel">
                <p class="regular">
                    Сегодня днем мне доделали мое утепление, что могу сказать, во первых не очень повезло с погодой, во
                    вторых делали целую неделю, мастера ждали когда пройдут дожди, но в целом претензий не имею, я
                    смотрел с балкона за работой, все сделано грамотно и без нареканий с моей стороны, ребята реально
                    профессионалы в своем деле, было приятно наблюдать, выражаю свое уважение и благодарность.
                </p>
            </div>
            <div>
                <img src="img/carousel/7.jpg" alt="carousel">
                <p class="regular">
                    Недавно закончили мой фасад, в принципе все устроило, только немного пришлось подождать у ребят была
                    очередь, потом приехали все оперативно сделали, качеством работы и конечным результатом мы с женой
                    остались довольны, спасибо и побольше заказов!
                </p>
            </div>
            <div>
                <img src="img/carousel/8.jpg" alt="carousel">
                <p class="regular">
                    Ребята утепляли квартиру моей маме в августе, все понравилось надеемся будет тепло этой зимой.
                    Отдельное спасибо за лоджию и балкон!
                </p>
            </div>
        </div>
    </div>
</section>
<!--footer-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="footer-title color-white">получить скидку сейчас</h2>
            </div>
            <div class="col-sm-5">
                <div class="footer-form-wrapper">
                    <form class="order-form body-form" id="footerForm">
                        <input type="hidden" name="head" value="Форма получить скидку">
                        <div class="input-block">
                            <input type="text" placeholder="Ваше имя?" class="width__100" name="name">
                        </div>
                        <div class="input-block">
                            <input type="tel" placeholder="Ваш телефон?" class="width__100" name="phone">
                        </div>
                        <input type="submit" value="Заказать просчёт" class="btn width__100 btn-send-form">
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>


<div class="modal fade callback-modal " id="callbackModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h2 class="color-white">Спасибо за оставленную заявку, мы свяжемся в Вами в ближайшее время</h2>
                <button class="btn btn-info" data-dismiss="modal" aria-label="Close">Закрыть окно</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade feedback-modal" id="feedbackModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content relative">
            <button class="close-modal" data-dismiss="modal"></button>

            <div class="modal-body">

                <h2 class="modal-header orange">перезвоним за две минуты</h2>

                <p class="text-center">Заполните форму и мы свяжемся с вами</p>

                <div class="popapp-form-wrapper">
                    <form class="order-form body-form" id="popUpForm">
                        <input type="hidden" name="head" value="Форма получить скидку">
                        <div class="input-block">
                            <input type="text" placeholder="Ваше имя?" class="width__100" name="name">
                        </div>
                        <div class="input-block">
                            <input type="tel" placeholder="Ваш телефон?" class="width__100" name="phone">
                        </div>
                        <input type="submit" value="Заказать просчёт" class="btn width__100 btn-send-form">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--{{CUT-START}}-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>


<!--{{CUT-END}}-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/{{JQUERY_VERSION}}/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')</script>


<script src="js/vendor/moment.min.js"></script>
<script src="js/vendor/lightbox-plus-jquery.min.js"></script>
<!--{{CUT-START}}-->
<script src=".assets/js/button.js"></script>
<script src=".assets/js/modal.js"></script>
<script src=".assets/js/collapse.js"></script>
<script src=".assets/js/transition.js"></script>
<script src=".assets/js/tooltip.js"></script>
<!--{{CUT-END}}-->
<script src="js/vendor/jquery.maskedinput.min.js"></script>
<script src="js/vendor/owl.carousel.min.js"></script>
<script src="js/vendor/flipclock.min.js"></script>
<script src="js/vendor/scrollMonitor.js"></script>
<script src="js/vendor/jquery.validate.min.js"></script>
<script src="js/{{MAIN_JS_FILE}}"></script>
<script src="js/plugins.js"></script>
<script>
    var tomorrow = moment().endOf('day').valueOf() + 1;
    var now = moment().valueOf();
    var interval = (tomorrow - now) / 1000;
    var clock = $('#top-clock').FlipClock(interval, {
        clockFace: 'HourlyCounter',
        countdown: true,
        language: 'ru'
    });

</script>
<script>
    lightbox.option({
        showImageNumberLabel: false,
        alwaysShowNavOnTouchDevices: true,
        wrapAround: true
    })
</script>
<script>
    $("#sliderTop").owlCarousel({
        loop: true,
        margin: 50,
        lazyLoad: false,
        responsiveClass: true,
        nav: false,
        autoplay: true,
        autoplayTimeout: 6000,
        autoplayHoverPause: true,
        dots: true,
        animateOut: true,
        animateIn: true,
        navText: [
            "<span class='glyphicon glyphicon-menu-left'></span>",
            "<span class='glyphicon glyphicon-menu-right'></span>"
        ],
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 2
            },
            1000: {
                items: 3
            }
        }

    });

</script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<!--        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>-->
</body>
</html>
